.indexBody {
    background-image: url('imgs/background.jpg');
    animation: shake 0.82s cubic-bezier(1,.07,.19,.97) both;
    animation-delay: 1.8s;
    animation-play-state: running;

}
.gameBody {
    background-image: url('imgs/background.jpg');
}
h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Fantasy',sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
.rock {
    color: red;
    text-align: left;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}
p.scissors {
    color:blue;
    text-align: right;
}
p.paper {
    color:yellow;
    text-align: center;
}
button {
    color: salmon;
    background-color: antiquewhite;
    font-size: 36px;
    padding: 1px 20px;
}
.button {
    text-align: center;
}
.paperanimation {
    text-align: center;
}
.gamestone {
    opacity: 0.5;
    transition: transform .59s;
    position: absolute;
    top: 600px;
    height: 96px;
    right: 500px;
    left: 300px;
    animation: shake 2s cubic-bezier(1,.07,.4,.5) both;
    animation-delay: 0s;
    animation: shake 18s infinite;
    animation-play-state: running;
}
.gamescissors {
    opacity: 0.5;
    transition: transform .59s;
    margin: auto;
    position: absolute;
    top: 600px;
    height: 96px;
    right: 100px;
    left: 1200px;
    animation: shake 2s cubic-bezier(1,.07,.4,.5) both;
    animation-delay: 0s;
    animation: shake 18s infinite;
    animation-play-state: running;
}
.gamepaper {
    opacity: 0.5;
    transition: transform .59s;
    margin: auto;
    position: absolute;
    top: 600px;
    height: 96px;
    right: 100px;
    left: 730px;
    animation: shake 0.82s cubic-bezier(1,.07,.4,.5) both;
    animation-delay: 0s;
    animation: shake 18s infinite;
    animation-play-state: running;
}
.gamepaper:hover {
    opacity: 1;
    animation: shake 158s infinite;
    transform: scale(1.3);
}
.gamescissors:hover {
    opacity: 1;
    animation: shake 158s infinite;
    transform: scale(1.3);
}
.gamestone:hover {
    opacity: 1;
    animation: shake 158s infinite;
    transform: scale(1.5);
}
.dott {
    border-radius: 50%;
    top: 200px;
    right: 750px;
    width: 450px;
    height: 450px;
    background: #ffffff;
    border: 1px solid #000;
    position: absolute;
    background-color: antiquewhite;
}
#loading {
    position: absolute;
    top: 180px;
    left: 685px;
    right: 550px;
}
#userrock,#userscissors,#userpaper {
    position: absolute;
    top: 350px;
    left: 750px;
    right: 300px;
}
#pcrock,#pcscissors,#pcpaper {
    position: absolute;
    top: 350px;
    left: 950px;
    right: 100px;
}
#done,#false,#drawsymbol {
    position: absolute;
    top: 230px;
    left: 860px;
    right: 100px;
}
.pcScore {
    position: absolute;
    background-color: rgb(131, 221, 21);
    border-radius: 1%;
    right: 780px;
    height: 180px;
    width: 185px;
    border: 5px solid;
    text-align: center;
    font-size: 50px;
}
.userScore {
    position: absolute;
    background-color: rgb(250, 85, 159);
    border-radius: 1%;
    left: 740px;
    height: 180px;
    width: 185px;
    border: 5px solid;
    text-align: center;
    font-size: 50px;
}
.unicorn {
    position: absolute;
    top: -10px;
    left: 510px;
}
.robot {
    position: absolute;
    top: 25px;
    right: 600px;
}
.stone {
    position: absolute;
    top:-400px;
    height: 96px;
    right: 100px;
    left: 100px;
    width: 1%;
    background-repeat: repeat-y;
    animation: stone 2.5s;
    animation-play-state: running;
}
@keyframes stone {
    100%{
        transform: translateY(2000px);
    }
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-25px, 5px, 21px);
    }
    20%, 80% {
        transform: translate3d(17px, -7px, 21px);
    }
    30%, 50%, 70% {
        transform: translate3d(-8px, -16px, 24px);
    }
    40%, 60% {
        transform: translate3d(22px, 27px, -11px);
    }
    }